In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt
%matplotlib inline
import time

import datetime as dt
from datetime import date, datetime, timedelta

In [105]:
failures_df = pd.read_csv('PdM_failures2.csv',index_col=0)
telemetry_df_days = pd.read_csv('processed_telemetry.csv',index_col=0)

In [106]:
telemetry_df_days_scale = telemetry_df_days.copy()
for i in range(len(telemetry_df_days)):
    telemetry_df_days_scale['volt'][i] = telemetry_df_days['volt'][i]/telemetry_df_days['volt'].max()
    telemetry_df_days_scale['rotate'][i] = telemetry_df_days['rotate'][i]/telemetry_df_days['rotate'].max()
    telemetry_df_days_scale['pressure'][i] = telemetry_df_days['pressure'][i]/telemetry_df_days['pressure'].max()
    telemetry_df_days_scale['vibration'][i] = telemetry_df_days['vibration'][i]/telemetry_df_days['vibration'].max()
#telemetry_df_days_scale.to_csv('processed_telemetry_scaled.csv')

c:\users\olfoa\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\olfoa\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
c:\users\olfoa\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
c:\users\olfoa\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [109]:
telemetry_df_days_scale

       day_num        date  machineID      volt    rotate  pressure  vibration
0            1  2015-01-01        1.0  0.778868  0.907848  0.635519   0.653450
1            2  2015-01-02        1.0  0.773930  0.924974  0.656522   0.648729
2            3  2015-01-03        1.0  0.785385  0.916093  0.658057   0.857631
3            4  2015-01-04        1.0  0.784867  0.901917  0.647500   0.851501
4            5  2015-01-05        1.0  0.783207  0.947316  0.680531   0.647902
...        ...         ...        ...       ...       ...       ...        ...
36495      361  2015-12-27      100.0  0.788497  0.900757  0.645044   0.653438
36496      362  2015-12-28      100.0  0.776419  0.946923  0.655262   0.649552
36497      363  2015-12-29      100.0  0.759835  0.920683  0.621358   0.672482
36498      364  2015-12-30      100.0  0.761920  0.936885  0.666915   0.647039
36499      365  2015-12-31      100.0  0.793273  0.929019  0.659519   0.660512

[36500 rows x 7 columns]

In [113]:
def stddev_series(column,period):
    sdev_series=[0.0]*(period)
    for i in range(period,len(column)):
        sdev = column[i-period:i].std()
        sdev_series.append(sdev)
    return(sdev_series)

In [ ]:
measurements = ['volt', 'rotate', 'pressure', 'vibration']
n_per = 5
IDs = list(telemetry_df_days_scale['machineID'].unique())

telemetry_df_dict = {}
for id in IDs:
    telemetry_df_dict[id] = telemetry_df_days_scale[telemetry_df_days_scale['machineID']==id].reset_index(drop=True)    

for id in IDs:
    for measurement in measurements:
        telemetry_df_dict[id][measurement + ' sdev '+str(n_per)] = stddev_series(telemetry_df_dict[id][measurement],n_per)

In [125]:
failures_df_dict = {}
for id in IDs:
    failures_df_dict[id] = failures_df[failures_df['machineID']==id].reset_index(drop=True)

In [130]:
telemetry_df_dict[1]

,day_num,date,machineID,volt,rotate,pressure,vibration,volt sdev 5,rotate sdev 5,pressure sdev 5,vibration sdev 5
0,1,2015-01-01,1.0,0.778868,0.907848,0.635519,0.653450,0.000000,0.000000,0.000000,0.000000
1,2,2015-01-02,1.0,0.773930,0.924974,0.656522,0.648729,0.000000,0.000000,0.000000,0.000000
2,3,2015-01-03,1.0,0.785385,0.916093,0.658057,0.857631,0.000000,0.000000,0.000000,0.000000
3,4,2015-01-04,1.0,0.784867,0.901917,0.647500,0.851501,0.000000,0.000000,0.000000,0.000000
4,5,2015-01-05,1.0,0.783207,0.947316,0.680531,0.647902,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
360,361,2015-12-27,1.0,0.786717,0.908787,0.673275,0.623090,0.019539,0.022030,0.015014,0.015296
361,362,2015-12-28,1.0,0.751773,0.896173,0.654776,0.664352,0.019206,0.019768,0.017454,0.023461
362,363,2015-12-29,1.0,0.753355,0.924974,0.639607,0.643951,0.021144,0.019374,0.017261,0.023752
363,364,2015-12-30,1.0,0.774536,0.923247,0.650486,0.656753,0.022617,0.018316,0.018433,0.024150
364,365,2015-12-31,1.0,0.778090,0.910842,0.637406,0.653871,0.022537,0.015856,0.015725,0.023378

In [134]:
machine1_telemetry = telemetry_df_dict[1].copy()

In [135]:
machine1_telemetry['fail'] = [0]*len(machine1_telemetry)

In [136]:
machine1_telemetry

,day_num,date,machineID,volt,rotate,pressure,vibration,volt sdev 5,rotate sdev 5,pressure sdev 5,vibration sdev 5,fail
0,1,2015-01-01,1.0,0.778868,0.907848,0.635519,0.653450,0.000000,0.000000,0.000000,0.000000,0
1,2,2015-01-02,1.0,0.773930,0.924974,0.656522,0.648729,0.000000,0.000000,0.000000,0.000000,0
2,3,2015-01-03,1.0,0.785385,0.916093,0.658057,0.857631,0.000000,0.000000,0.000000,0.000000,0
3,4,2015-01-04,1.0,0.784867,0.901917,0.647500,0.851501,0.000000,0.000000,0.000000,0.000000,0
4,5,2015-01-05,1.0,0.783207,0.947316,0.680531,0.647902,0.000000,0.000000,0.000000,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...
360,361,2015-12-27,1.0,0.786717,0.908787,0.673275,0.623090,0.019539,0.022030,0.015014,0.015296,0
361,362,2015-12-28,1.0,0.751773,0.896173,0.654776,0.664352,0.019206,0.019768,0.017454,0.023461,0
362,363,2015-12-29,1.0,0.753355,0.924974,0.639607,0.643951,0.021144,0.019374,0.017261,0.023752,0
363,364,2015-12-30,1.0,0.774536,0.923247,0.650486,0.656753,0.022617,0.018316,0.018433,0.024150,0
364,365,2015-12-31,1.0,0.778090,0.910842,0.637406,0.653871,0.022537,0.015856,0.015725,0.023378,0

In [155]:
for tele_date in machine1_telemetry['date']:
    for fail_date in machine1_failures['date']:
        if tele_date == fail_date:
            machine1_telemetry[machine1_telemetry['date']==fail_date]['fail']=1

c:\users\olfoa\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [145]:
machine1_failures = failures_df_dict[1]

In [146]:
machine1_failures

,datetime,machineID,failure,date,days_last_maint,age,model
0,05/01/2015 06:00,1,comp4,2015-01-05,173,18,model3
1,06/03/2015 06:00,1,comp1,2015-03-06,45,18,model3
2,20/04/2015 06:00,1,comp2,2015-04-20,323,18,model3
3,19/06/2015 06:00,1,comp4,2015-06-19,135,18,model3
4,02/09/2015 06:00,1,comp4,2015-09-02,75,18,model3
5,17/10/2015 06:00,1,comp2,2015-10-17,30,18,model3
6,16/12/2015 06:00,1,comp4,2015-12-16,45,18,model3

In [ ]:
machine1[machine1['dat

In [153]:
machine1_telemetry[machine1_telemetry['date']=='2015-01-02']['fail']

1    0
Name: fail, dtype: int64

In [144]:
failures_df_dict[1]['date'][0]==

True

In [152]:
machine1_telemetry

,day_num,date,machineID,volt,rotate,pressure,vibration,volt sdev 5,rotate sdev 5,pressure sdev 5,vibration sdev 5,fail
0,1,2015-01-01,1.0,0.778868,0.907848,0.635519,0.653450,0.000000,0.000000,0.000000,0.000000,0
1,2,2015-01-02,1.0,0.773930,0.924974,0.656522,0.648729,0.000000,0.000000,0.000000,0.000000,0
2,3,2015-01-03,1.0,0.785385,0.916093,0.658057,0.857631,0.000000,0.000000,0.000000,0.000000,0
3,4,2015-01-04,1.0,0.784867,0.901917,0.647500,0.851501,0.000000,0.000000,0.000000,0.000000,0
4,5,2015-01-05,1.0,0.783207,0.947316,0.680531,0.647902,0.000000,0.000000,0.000000,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...
360,361,2015-12-27,1.0,0.786717,0.908787,0.673275,0.623090,0.019539,0.022030,0.015014,0.015296,0
361,362,2015-12-28,1.0,0.751773,0.896173,0.654776,0.664352,0.019206,0.019768,0.017454,0.023461,0
362,363,2015-12-29,1.0,0.753355,0.924974,0.639607,0.643951,0.021144,0.019374,0.017261,0.023752,0
363,364,2015-12-30,1.0,0.774536,0.923247,0.650486,0.656753,0.022617,0.018316,0.018433,0.024150,0
364,365,2015-12-31,1.0,0.778090,0.910842,0.637406,0.653871,0.022537,0.015856,0.015725,0.023378,0